*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}


.content {
  margin: 0 auto;
  max-width: 1140px;
  min-height: 534px;
  display: grid;
  grid-template-columns: 1fr 399px;
  gap: 30px;

}

.result {
  width: 100%;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video:has(.content__list-item:checked) {
  background-color: #545050;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.search-form__fieldset-title {
  color: #FFF;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

/* Стили состояний поля ввода */
.search-form__textfield:focus {
  outline: none;
}


.search-form__textfield:focus-visible {
  border: 1px solid #FFFFFF;
  outline: 2px;
}


.search-form__textfield {
  padding: 2.5px 0 2.5px 0;
  width: 225px;
  border: none;
  background: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  border-left: 0;
  border-right: 0;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}


.search-form__checkbox-list {
  margin-bottom: 5px;
  display: flex;
  gap: 15px;
}


/* Стили  для чекбоксов и их состояния */

.search-form__pseudo-checkbox {
  margin-top: 1.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:hover{
  cursor: pointer;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  visibility: hidden;
}


.search-form__checkbox:checked+.search-form__pseudo-checkbox::before {
  visibility: visible;
}

.search-form__label:hover .search-form__label-text {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Общие стили для кнопки */
.button {
  padding: 0;
  min-width: 194px;
  min-height: 34px;
  background: transparent;
  border: 1px solid currentColor;
  color: #FFF;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.12em;
}

/* Стили для кнопки "Найти" */
.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}


.more-button-template:focus {
  outline: none;
} 


.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__details {
  display: grid;
  grid-template-rows: 1fr 298px;
  overflow: hidden;
  gap: 26px;
}


.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}


.content__accent {
  color: #545050;

}


.content__list {
  width: 100%;
  position: relative;
  overflow: overlay;
  overflow-x:hidden; 
}



.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-of-type {
  margin-bottom: 0;
}


.content__card-link {
  margin: 2px 2px 0 2px;
  display: block;
  text-decoration: none;
  text-underline-offset: 5px;
}


.content__card-link_current {
  background: #545050;
}


.content__card-link:active {
  background-color: #545050;
}


.content__card-link:focus {
  outline: none;
}


.content__card-link:focus-visible {
  outline: 1px solid #fff;
}




.content__video-card {
  display: flex;
}




.content__video-card:hover {
  color: #FFF;
  text-decoration: underline;
}


.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;  
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  text-decoration: none;
}

/* Отступы заданы по тому что обводка обезазается и не отображается полностью */
.more-button {
  width: 100%;
  margin: 0 3px 3px 3px;
}

.more-button:active {
  background-color: #545050;
}